name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build-test-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff pydocstyle pytest
      
      - name: Install package in development mode
        run: pip install -e .
      
      - name: Run tests
        run: pytest -q
      - name: Ruff lint
        run: ruff check .
     # - name: Mypy type check
     #   run: mypy . --install-types --non-interactive
      - name: Pydocstyle
        run: pydocstyle . || true  # Allow pydocstyle to fail without failing the job